*{ box-sizing: border-box }
img {
   width: 100%;
   display: block;
}

body {
   margin: 0;
   background-image: url('../images/repeating-wood-background.jpg');
   background-repeat: repeat;

}
#app-container{

   padding-top: 90px;

   .nav-bar-top {
      width: 30%;
      margin: auto;
      padding: 15px 0;
   }

   .profPic {
      border-radius: 100%;
      width: 40%;
      margin: 15px auto;
   }

   .congressPeople {

      li {
         font-size: 12px;
      }
   }

}
